.cardlist-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.cardlist {
  gap: 25px;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
  width: 1200px;
}

.select-category{
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 25px;
}

.select-category-main{
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select-category-img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--orange);
}

.select-category-btn{
  height: 40px;
  font-weight: 500;
  border: 2px solid var(--orange);
  border-radius: 6px;
  background-color: var(--white);
  color: var(--orange);
}

.select-category-btn:hover{
  background-color: var(--orange);
  color: var(--white);
}