.card-container {
  height: 290px;
  width: 220px;
  border: 2px solid var(--orange);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(33, 33, 33, 0.3);
  transition: 0.3s;
}

.card-container:hover {
  /* box-shadow: 4px 4px 20px rgba(33,33,33, 0.3);  */
  box-shadow: 0px 0px 20px rgb(255, 132, 17, 0.7);
}

.card-image {
  border-radius: 6px;
  overflow: hidden;
}

.card-image-img {
  height: 100%;
  width: 100%;
}

.card-details {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-breed {
  font-size: 20px;
  font-weight: 700;
}

.card-price {
  font-size: 14px;
  font-weight: 700;
  color: var(--orange);
}
