@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

:root {
  --orange: #ff8411;
  --black: #222222;
  --white: #ffffff;
  --grey: #999999;
}
